.mega-menu ul.navbar-nav > li a.level1 {
    padding-top: 13px;
    padding-bottom: 10px;
    position: relative;
    margin: 0 45px;
    font: 400 20px/20px "Roboto";
    text-transform: uppercase;
}
.banner-home1 .tp-banner ul li .tp-caption .desc{
	width: 40% !important;
	padding: 5px 15px;
	margin-right: 30%;
	position: relative;
}